body {
  margin:0px;
  background-color:rgba(245, 245, 245, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3499 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3500 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:454px;
  width:375px;
  height:130px;
  overflow:hidden;
}
#u3500_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:130px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3500_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3501_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u3501 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:130px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u3501_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:335px;
  word-wrap:break-word;
}
#u3502 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:274px;
  width:375px;
  height:130px;
  overflow:hidden;
}
#u3502_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:130px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3502_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3503_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u3503 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:130px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u3503_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:335px;
  word-wrap:break-word;
}
#u3504 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:94px;
  width:375px;
  height:130px;
  overflow:hidden;
}
#u3504_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:130px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3504_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u3505 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:130px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u3505_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:335px;
  word-wrap:break-word;
}
#u3506_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u3506 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:404px;
  width:375px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u3506_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:14px;
  width:353px;
  word-wrap:break-word;
}
#u3507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u3507 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:224px;
  width:375px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u3507_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:14px;
  width:353px;
  word-wrap:break-word;
}
#u3508_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u3508 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:375px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u3508_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:14px;
  width:353px;
  word-wrap:break-word;
}
#u3509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
  line-height:14px;
}
#u3509 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:44px;
  width:20px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
  line-height:14px;
}
#u3509_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:16px;
  word-wrap:break-word;
}
#u3510_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:14px;
}
#u3510 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:224px;
  width:20px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:14px;
}
#u3510_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:16px;
  word-wrap:break-word;
}
#u3511_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:14px;
}
#u3511 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:404px;
  width:20px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:14px;
}
#u3511_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:16px;
  word-wrap:break-word;
}
#u3512 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3513 {
  position:absolute;
  left:0px;
  top:1005px;
}
#u3513_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:130px;
  background-image:none;
}
#u3513_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u3514 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:130px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u3514_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:335px;
  word-wrap:break-word;
}
#u3515 {
  position:absolute;
  left:0px;
  top:825px;
}
#u3515_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:130px;
  background-image:none;
}
#u3515_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3516_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u3516 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:130px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u3516_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:335px;
  word-wrap:break-word;
}
#u3517 {
  position:absolute;
  left:0px;
  top:645px;
}
#u3517_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:130px;
  background-image:none;
}
#u3517_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3518_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u3518 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:130px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u3518_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:335px;
  word-wrap:break-word;
}
#u3519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u3519 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:955px;
  width:375px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u3519_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:14px;
  width:353px;
  word-wrap:break-word;
}
#u3520_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u3520 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:775px;
  width:375px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u3520_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:14px;
  width:353px;
  word-wrap:break-word;
}
#u3521_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u3521 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:595px;
  width:375px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u3521_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:14px;
  width:353px;
  word-wrap:break-word;
}
#u3522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
  line-height:14px;
}
#u3522 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:595px;
  width:20px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
  line-height:14px;
}
#u3522_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:16px;
  word-wrap:break-word;
}
#u3523_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:14px;
}
#u3523 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:775px;
  width:20px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:14px;
}
#u3523_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:16px;
  word-wrap:break-word;
}
#u3524_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:14px;
}
#u3524 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:955px;
  width:20px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:14px;
}
#u3524_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:16px;
  word-wrap:break-word;
}
#u3525 {
  position:fixed;
  left:50%;
  margin-left:-187.5px;
  top:0px;
}
#u3525_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background-image:none;
}
#u3525_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3526 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3527_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#333333;
  line-height:28px;
}
#u3527 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#333333;
  line-height:28px;
}
#u3527_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:375px;
  word-wrap:break-word;
}
#u3528_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#0079FE;
  text-align:left;
  line-height:20px;
}
#u3528 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:45px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#0079FE;
  text-align:left;
  line-height:20px;
}
#u3528_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#0079FE;
  text-align:left;
  line-height:20px;
}
#u3528.mouseDown {
  opacity:0.5;
}
#u3528_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u3529 {
  position:fixed;
  left:50%;
  margin-left:-150px;
  bottom:80px;
}
#u3529_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:85px;
  background-image:none;
}
#u3529_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3530_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:85px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:0px 0px 20px rgba(0, 0, 0, 0.0980392156862745);
  -webkit-box-shadow:0px 0px 20px rgba(0, 0, 0, 0.0980392156862745);
  box-shadow:0px 0px 20px rgba(0, 0, 0, 0.0980392156862745);
  color:#E4E4E4;
  text-align:left;
  line-height:20px;
}
#u3530 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:85px;
  color:#E4E4E4;
  text-align:left;
  line-height:20px;
}
#u3530_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:260px;
  word-wrap:break-word;
}
#u3531_img {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-20px;
  width:60px;
  height:60px;
}
#u3531 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:3px;
  width:20px;
  height:20px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
}
#u3531_img.mouseDown {
}
#u3531.mouseDown {
}
#u3531_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
