body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:1012px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1012px;
  height:400px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:1012px;
  height:400px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
