body {
  margin:0px;
  background-color:rgba(245, 245, 245, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3794 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:86px;
  width:375px;
  height:615px;
  overflow:hidden;
}
#u3794_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:615px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3794_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3795 {
  position:absolute;
  left:0px;
  top:0px;
  touch-action:none;
}
#u3795_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1390px;
  height:550px;
  background-image:none;
}
#u3795_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3796 {
  position:absolute;
  left:1055px;
  top:0px;
}
#u3796_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:335px;
  height:550px;
  background-image:none;
}
#u3796_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:550px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:120px;
  color:#FFFFFF;
  line-height:20px;
}
#u3797 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:550px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:120px;
  color:#FFFFFF;
  line-height:20px;
}
#u3797_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:215px;
  width:335px;
  word-wrap:break-word;
}
#u3798_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:355px;
  height:99px;
}
#u3798 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:349px;
  width:335px;
  height:79px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#FFFFFF;
  line-height:36px;
}
#u3798_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  word-wrap:break-word;
}
#u3799_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u3799 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:438px;
  width:200px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u3799_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:200px;
  word-wrap:break-word;
}
#u3800 {
  position:absolute;
  left:710px;
  top:0px;
}
#u3800_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:335px;
  height:550px;
  background-image:none;
}
#u3800_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3801_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:550px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:120px;
  color:#FFFFFF;
  line-height:20px;
}
#u3801 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:550px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:120px;
  color:#FFFFFF;
  line-height:20px;
}
#u3801_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:215px;
  width:335px;
  word-wrap:break-word;
}
#u3802_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:355px;
  height:99px;
}
#u3802 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:349px;
  width:335px;
  height:79px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#FFFFFF;
  line-height:36px;
}
#u3802_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  word-wrap:break-word;
}
#u3803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u3803 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:438px;
  width:200px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u3803_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:200px;
  word-wrap:break-word;
}
#u3804 {
  position:absolute;
  left:365px;
  top:0px;
}
#u3804_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:335px;
  height:550px;
  background-image:none;
}
#u3804_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:550px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:120px;
  color:#FFFFFF;
  line-height:20px;
}
#u3805 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:550px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:120px;
  color:#FFFFFF;
  line-height:20px;
}
#u3805_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:215px;
  width:335px;
  word-wrap:break-word;
}
#u3806_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:355px;
  height:99px;
}
#u3806 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:349px;
  width:335px;
  height:79px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#FFFFFF;
  line-height:36px;
}
#u3806_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  word-wrap:break-word;
}
#u3807_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u3807 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:438px;
  width:200px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u3807_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:200px;
  word-wrap:break-word;
}
#u3808 {
  position:absolute;
  left:20px;
  top:0px;
}
#u3808_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:335px;
  height:550px;
  background-image:none;
}
#u3808_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3809_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:550px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:120px;
  color:#FFFFFF;
  line-height:20px;
}
#u3809 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:550px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:120px;
  color:#FFFFFF;
  line-height:20px;
}
#u3809_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:215px;
  width:335px;
  word-wrap:break-word;
}
#u3810_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:355px;
  height:99px;
}
#u3810 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:349px;
  width:335px;
  height:79px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#FFFFFF;
  line-height:36px;
}
#u3810_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  word-wrap:break-word;
}
#u3811_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u3811 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:438px;
  width:200px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u3811_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:200px;
  word-wrap:break-word;
}
#u3812 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u3813 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:580px;
  width:10px;
  height:10px;
}
#u3813_img.selected {
}
#u3813.selected {
}
#u3813_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u3814 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:580px;
  width:10px;
  height:10px;
}
#u3814_img.selected {
}
#u3814.selected {
}
#u3814_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u3815 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:580px;
  width:10px;
  height:10px;
}
#u3815_img.selected {
}
#u3815.selected {
}
#u3815_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u3816 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:580px;
  width:10px;
  height:10px;
}
#u3816_img.selected {
}
#u3816.selected {
}
#u3816_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3817 {
  position:fixed;
  left:50%;
  margin-left:-187.5px;
  top:0px;
}
#u3817_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background-image:none;
}
#u3817_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3818 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#333333;
  line-height:28px;
}
#u3819 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#333333;
  line-height:28px;
}
#u3819_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:375px;
  word-wrap:break-word;
}
#u3820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#0079FE;
  text-align:left;
  line-height:20px;
}
#u3820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:45px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#0079FE;
  text-align:left;
  line-height:20px;
}
#u3820_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#0079FE;
  text-align:left;
  line-height:20px;
}
#u3820.mouseDown {
  opacity:0.5;
}
#u3820_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u3821 {
  position:fixed;
  left:50%;
  margin-left:-150px;
  bottom:80px;
}
#u3821_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:85px;
  background-image:none;
}
#u3821_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:85px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:0px 0px 20px rgba(0, 0, 0, 0.0980392156862745);
  -webkit-box-shadow:0px 0px 20px rgba(0, 0, 0, 0.0980392156862745);
  box-shadow:0px 0px 20px rgba(0, 0, 0, 0.0980392156862745);
  color:#E4E4E4;
  text-align:left;
  line-height:20px;
}
#u3822 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:85px;
  color:#E4E4E4;
  text-align:left;
  line-height:20px;
}
#u3822_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:260px;
  word-wrap:break-word;
}
#u3823_img {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-20px;
  width:60px;
  height:60px;
}
#u3823 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:3px;
  width:20px;
  height:20px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
}
#u3823_img.mouseDown {
}
#u3823.mouseDown {
}
#u3823_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u3825 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:800px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
