body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:1100px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:518px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:1100px;
  height:518px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u904_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u905_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:1100px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u905_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:1080px;
  word-wrap:break-word;
}
#u906_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(60, 59, 61, 0.898039215686275);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:20px;
}
#u906 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:88px;
  width:80px;
  height:35px;
  color:#FFFFFF;
  line-height:20px;
}
#u906_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(60, 59, 61, 0.898039215686275);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:20px;
}
#u906.mouseOver {
  opacity:0.8;
}
#u906_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(60, 59, 61, 0.898039215686275);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:20px;
}
#u906.mouseDown {
  opacity:1;
}
#u906_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u909 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:463px;
  width:35px;
  height:35px;
  color:#999999;
}
#u909_img.mouseOver {
}
#u909.mouseOver {
}
#u909_img.selected {
}
#u909.selected {
}
#u909_img.disabled {
}
#u909.disabled {
}
#u909_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:31px;
  word-wrap:break-word;
}
#u910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u910 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:463px;
  width:35px;
  height:35px;
  color:#999999;
}
#u910_img.mouseOver {
}
#u910.mouseOver {
}
#u910_img.selected {
}
#u910.selected {
}
#u910_img.disabled {
}
#u910.disabled {
}
#u910_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:31px;
  word-wrap:break-word;
}
#u911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u911 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:463px;
  width:35px;
  height:35px;
  color:#999999;
}
#u911_img.mouseOver {
}
#u911.mouseOver {
}
#u911_img.selected {
}
#u911.selected {
}
#u911_img.disabled {
}
#u911.disabled {
}
#u911_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:31px;
  word-wrap:break-word;
}
#u912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u912 {
  border-width:0px;
  position:absolute;
  left:817px;
  top:463px;
  width:35px;
  height:35px;
  color:#999999;
}
#u912_img.mouseOver {
}
#u912.mouseOver {
}
#u912_img.selected {
}
#u912.selected {
}
#u912_img.disabled {
}
#u912.disabled {
}
#u912_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:31px;
  word-wrap:break-word;
}
#u913_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u913 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:463px;
  width:35px;
  height:35px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u913_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u913.mouseOver {
}
#u913_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u913.selected {
}
#u913_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u913.disabled {
}
#u913_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:31px;
  word-wrap:break-word;
}
#u914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u914 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:463px;
  width:35px;
  height:35px;
  color:#999999;
}
#u914_img.mouseOver {
}
#u914.mouseOver {
}
#u914_img.selected {
}
#u914.selected {
}
#u914_img.disabled {
}
#u914.disabled {
}
#u914_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:31px;
  word-wrap:break-word;
}
#u915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u915 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:463px;
  width:35px;
  height:35px;
  color:#999999;
}
#u915_img.mouseOver {
}
#u915.mouseOver {
}
#u915_img.selected {
}
#u915.selected {
}
#u915_img.disabled {
}
#u915.disabled {
}
#u915_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:31px;
  word-wrap:break-word;
}
#u916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u916 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:463px;
  width:35px;
  height:35px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u916_img.mouseOver {
}
#u916.mouseOver {
}
#u916_img.selected {
}
#u916.selected {
}
#u916_img.disabled {
}
#u916.disabled {
}
#u916_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:31px;
  word-wrap:break-word;
}
#u917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u917 {
  border-width:0px;
  position:absolute;
  left:934px;
  top:463px;
  width:35px;
  height:35px;
  color:#999999;
}
#u917_img.mouseOver {
}
#u917.mouseOver {
}
#u917_img.selected {
}
#u917.selected {
}
#u917_img.disabled {
}
#u917.disabled {
}
#u917_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:31px;
  word-wrap:break-word;
}
#u918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
}
#u918 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:463px;
  width:80px;
  height:35px;
}
#u918_img.mouseOver {
}
#u918.mouseOver {
}
#u918_img.selected {
}
#u918.selected {
}
#u918_img.disabled {
}
#u918.disabled {
}
#u918_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u919 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:140px;
  width:1060px;
  height:300px;
}
#u920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:50px;
}
#u920 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:50px;
  text-align:left;
}
#u920_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:16px;
  width:78px;
  word-wrap:break-word;
}
#u922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u922 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:0px;
  width:210px;
  height:50px;
  text-align:left;
}
#u922_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:16px;
  width:193px;
  word-wrap:break-word;
}
#u924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
}
#u924 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:0px;
  width:218px;
  height:50px;
  text-align:left;
}
#u924_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:16px;
  width:201px;
  word-wrap:break-word;
}
#u926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:50px;
}
#u926 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:0px;
  width:228px;
  height:50px;
  text-align:left;
}
#u926_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:16px;
  width:211px;
  word-wrap:break-word;
}
#u928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u928 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:0px;
  width:210px;
  height:50px;
  text-align:left;
}
#u928_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:16px;
  width:193px;
  word-wrap:break-word;
}
#u930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:50px;
}
#u930 {
  border-width:0px;
  position:absolute;
  left:961px;
  top:0px;
  width:99px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u930_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:16px;
  width:82px;
  word-wrap:break-word;
}
#u931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:50px;
}
#u931 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:95px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u931_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:78px;
  word-wrap:break-word;
}
#u932_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u932 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:50px;
  width:210px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u932_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:193px;
  word-wrap:break-word;
}
#u933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
}
#u933 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:50px;
  width:218px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u933_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:201px;
  word-wrap:break-word;
}
#u934_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:50px;
}
#u934 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:50px;
  width:228px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u934_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:211px;
  word-wrap:break-word;
}
#u935_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u935 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:50px;
  width:210px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u935_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:193px;
  word-wrap:break-word;
}
#u936_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:50px;
}
#u936 {
  border-width:0px;
  position:absolute;
  left:961px;
  top:50px;
  width:99px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u936_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:82px;
  word-wrap:break-word;
}
#u938_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:50px;
}
#u938 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:95px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u938_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:78px;
  word-wrap:break-word;
}
#u939_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u939 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:100px;
  width:210px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u939_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:193px;
  word-wrap:break-word;
}
#u940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
}
#u940 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:100px;
  width:218px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u940_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:201px;
  word-wrap:break-word;
}
#u941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:50px;
}
#u941 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:100px;
  width:228px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u941_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:211px;
  word-wrap:break-word;
}
#u942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u942 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:100px;
  width:210px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u942_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:193px;
  word-wrap:break-word;
}
#u943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:50px;
}
#u943 {
  border-width:0px;
  position:absolute;
  left:961px;
  top:100px;
  width:99px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u943_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:82px;
  word-wrap:break-word;
}
#u945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:50px;
}
#u945 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:95px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u945_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:78px;
  word-wrap:break-word;
}
#u946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u946 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:150px;
  width:210px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u946_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:193px;
  word-wrap:break-word;
}
#u947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
}
#u947 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:150px;
  width:218px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u947_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:201px;
  word-wrap:break-word;
}
#u948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:50px;
}
#u948 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:150px;
  width:228px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u948_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:211px;
  word-wrap:break-word;
}
#u949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u949 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:150px;
  width:210px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u949_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:193px;
  word-wrap:break-word;
}
#u950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:50px;
}
#u950 {
  border-width:0px;
  position:absolute;
  left:961px;
  top:150px;
  width:99px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u950_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:82px;
  word-wrap:break-word;
}
#u952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:50px;
}
#u952 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:95px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u952_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:78px;
  word-wrap:break-word;
}
#u953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:200px;
  width:210px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u953_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:193px;
  word-wrap:break-word;
}
#u954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:200px;
  width:218px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u954_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:201px;
  word-wrap:break-word;
}
#u955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:50px;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:200px;
  width:228px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u955_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:211px;
  word-wrap:break-word;
}
#u956_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:200px;
  width:210px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u956_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:193px;
  word-wrap:break-word;
}
#u957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:50px;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:961px;
  top:200px;
  width:99px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u957_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:82px;
  word-wrap:break-word;
}
#u959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:50px;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:250px;
  width:95px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u959_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:78px;
  word-wrap:break-word;
}
#u960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:250px;
  width:210px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u960_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:193px;
  word-wrap:break-word;
}
#u961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:250px;
  width:218px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u961_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:201px;
  word-wrap:break-word;
}
#u962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:50px;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:250px;
  width:228px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u962_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:211px;
  word-wrap:break-word;
}
#u963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:250px;
  width:210px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u963_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:193px;
  word-wrap:break-word;
}
#u964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:50px;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:961px;
  top:250px;
  width:99px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u964_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:82px;
  word-wrap:break-word;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:88px;
  width:180px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u967_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u968 {
  position:fixed;
  left:50%;
  margin-left:-300px;
  top:50%;
  margin-top:-220.5px;
  visibility:hidden;
}
#u968_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:600px;
  height:441px;
  background-image:none;
}
#u968_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:441px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:441px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u969_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:15px;
  width:560px;
  word-wrap:break-word;
}
#u970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:3px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u970 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u970_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:15px;
  width:560px;
  word-wrap:break-word;
}
#u971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u971_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u971.mouseOver {
}
#u971_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  word-wrap:break-word;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u973 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:381px;
  width:600px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u973_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u974 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u975 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u976_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(60, 59, 61, 0.898039215686275);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u976 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:396px;
  width:80px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u976_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(60, 59, 61, 0.898039215686275);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u976.mouseOver {
  opacity:0.8;
}
#u976_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(60, 59, 61, 0.898039215686275);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u976.mouseDown {
  opacity:1;
}
#u976_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u977 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:396px;
  width:80px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:rgba(60, 59, 61, 0.898039215686275);
}
#u977_img.mouseOver {
}
#u977.mouseOver {
  opacity:0.8;
}
#u977_img.mouseDown {
}
#u977.mouseDown {
  opacity:1;
}
#u977_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:120px;
  width:580px;
  height:180px;
}
#u979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:45px;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:45px;
  text-align:left;
}
#u979_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:14px;
  width:90px;
  word-wrap:break-word;
}
#u981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:45px;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:0px;
  width:128px;
  height:45px;
}
#u981_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:126px;
  word-wrap:break-word;
}
#u983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:45px;
}
#u983 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:0px;
  width:211px;
  height:45px;
}
#u983_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:209px;
  word-wrap:break-word;
}
#u985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:45px;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:0px;
  width:134px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u985_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:14px;
  width:117px;
  word-wrap:break-word;
}
#u986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:45px;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:107px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u986_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:14px;
  width:90px;
  word-wrap:break-word;
}
#u987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:45px;
}
#u987 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:45px;
  width:128px;
  height:45px;
  font-size:12px;
}
#u987_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:126px;
  word-wrap:break-word;
}
#u988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:45px;
}
#u988 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:45px;
  width:211px;
  height:45px;
  font-size:12px;
}
#u988_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:209px;
  word-wrap:break-word;
}
#u989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:45px;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:45px;
  width:134px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u989_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:14px;
  width:117px;
  word-wrap:break-word;
}
#u992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:45px;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:107px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u992_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:14px;
  width:90px;
  word-wrap:break-word;
}
#u993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:45px;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:90px;
  width:128px;
  height:45px;
  font-size:12px;
}
#u993_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:126px;
  word-wrap:break-word;
}
#u994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:45px;
}
#u994 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:90px;
  width:211px;
  height:45px;
  font-size:12px;
}
#u994_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:209px;
  word-wrap:break-word;
}
#u995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:45px;
}
#u995 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:90px;
  width:134px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u995_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:14px;
  width:117px;
  word-wrap:break-word;
}
#u998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:45px;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:135px;
  width:107px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u998_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:14px;
  width:90px;
  word-wrap:break-word;
}
#u999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:45px;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:135px;
  width:128px;
  height:45px;
  font-size:12px;
}
#u999_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:126px;
  word-wrap:break-word;
}
#u1000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:45px;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:135px;
  width:211px;
  height:45px;
  font-size:12px;
}
#u1000_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:209px;
  word-wrap:break-word;
}
#u1001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:45px;
}
#u1001 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:135px;
  width:134px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u1001_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:14px;
  width:117px;
  word-wrap:break-word;
}
#u1004_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(60, 59, 61, 0.898039215686275);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:20px;
}
#u1004 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:70px;
  width:80px;
  height:35px;
  color:#FFFFFF;
  line-height:20px;
}
#u1004_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(60, 59, 61, 0.898039215686275);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:20px;
}
#u1004.mouseOver {
  opacity:0.8;
}
#u1004_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(60, 59, 61, 0.898039215686275);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:20px;
}
#u1004.mouseDown {
  opacity:1;
}
#u1004_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u1006 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1007 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:325px;
  width:35px;
  height:35px;
  color:#999999;
}
#u1007_img.mouseOver {
}
#u1007.mouseOver {
}
#u1007_img.selected {
}
#u1007.selected {
}
#u1007_img.disabled {
}
#u1007.disabled {
}
#u1007_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:31px;
  word-wrap:break-word;
}
#u1008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1008 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:325px;
  width:35px;
  height:35px;
  color:#999999;
}
#u1008_img.mouseOver {
}
#u1008.mouseOver {
}
#u1008_img.selected {
}
#u1008.selected {
}
#u1008_img.disabled {
}
#u1008.disabled {
}
#u1008_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:31px;
  word-wrap:break-word;
}
#u1009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1009 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:325px;
  width:35px;
  height:35px;
  color:#999999;
}
#u1009_img.mouseOver {
}
#u1009.mouseOver {
}
#u1009_img.selected {
}
#u1009.selected {
}
#u1009_img.disabled {
}
#u1009.disabled {
}
#u1009_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:31px;
  word-wrap:break-word;
}
#u1010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1010 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:325px;
  width:35px;
  height:35px;
  color:#999999;
}
#u1010_img.mouseOver {
}
#u1010.mouseOver {
}
#u1010_img.selected {
}
#u1010.selected {
}
#u1010_img.disabled {
}
#u1010.disabled {
}
#u1010_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:31px;
  word-wrap:break-word;
}
#u1011_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u1011 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:325px;
  width:35px;
  height:35px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u1011_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u1011.mouseOver {
}
#u1011_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u1011.selected {
}
#u1011_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u1011.disabled {
}
#u1011_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:31px;
  word-wrap:break-word;
}
#u1012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1012 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:325px;
  width:35px;
  height:35px;
  color:#999999;
}
#u1012_img.mouseOver {
}
#u1012.mouseOver {
}
#u1012_img.selected {
}
#u1012.selected {
}
#u1012_img.disabled {
}
#u1012.disabled {
}
#u1012_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:31px;
  word-wrap:break-word;
}
#u1013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1013 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:325px;
  width:35px;
  height:35px;
  color:#999999;
}
#u1013_img.mouseOver {
}
#u1013.mouseOver {
}
#u1013_img.selected {
}
#u1013.selected {
}
#u1013_img.disabled {
}
#u1013.disabled {
}
#u1013_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:31px;
  word-wrap:break-word;
}
#u1014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1014 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:325px;
  width:35px;
  height:35px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u1014_img.mouseOver {
}
#u1014.mouseOver {
}
#u1014_img.selected {
}
#u1014.selected {
}
#u1014_img.disabled {
}
#u1014.disabled {
}
#u1014_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:31px;
  word-wrap:break-word;
}
#u1015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1015 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:325px;
  width:35px;
  height:35px;
  color:#999999;
}
#u1015_img.mouseOver {
}
#u1015.mouseOver {
}
#u1015_img.selected {
}
#u1015.selected {
}
#u1015_img.disabled {
}
#u1015.disabled {
}
#u1015_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:31px;
  word-wrap:break-word;
}
#u1016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
}
#u1016 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:325px;
  width:80px;
  height:35px;
}
#u1016_img.mouseOver {
}
#u1016.mouseOver {
}
#u1016_img.selected {
}
#u1016.selected {
}
#u1016_img.disabled {
}
#u1016.disabled {
}
#u1016_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u1017 {
  position:fixed;
  left:50%;
  margin-left:-225px;
  top:50%;
  margin-top:-105px;
  visibility:hidden;
}
#u1017_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:450px;
  height:210px;
  background-image:none;
}
#u1017_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1018_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u1018 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:210px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u1018_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:15px;
  width:410px;
  word-wrap:break-word;
}
#u1019 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1020_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u1020 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:450px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u1020_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1021 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1022 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u1023 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:165px;
  width:80px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:rgba(60, 59, 61, 0.898039215686275);
}
#u1023_img.mouseOver {
}
#u1023.mouseOver {
  opacity:0.8;
}
#u1023_img.mouseDown {
}
#u1023.mouseDown {
  opacity:1;
}
#u1023_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u1024_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(60, 59, 61, 0.898039215686275);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1024 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:165px;
  width:80px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1024_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(60, 59, 61, 0.898039215686275);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1024.mouseOver {
  opacity:0.8;
}
#u1024_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(60, 59, 61, 0.898039215686275);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1024.mouseDown {
  opacity:1;
}
#u1024_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u1025_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:3px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u1025 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:50px;
  width:364px;
  height:90px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u1025_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:344px;
  word-wrap:break-word;
}
#u1026_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:3px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u1026 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u1026_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:15px;
  width:410px;
  word-wrap:break-word;
}
#u1027_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:3px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FE9400;
  line-height:20px;
}
#u1027 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:50px;
  width:50px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FE9400;
  line-height:20px;
}
#u1027_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:15px;
  width:50px;
  word-wrap:break-word;
}
#u1028_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u1028 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u1028_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u1028.mouseOver {
}
#u1028_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  word-wrap:break-word;
}
